################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.cache
*.CopyComplete
